
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
         --color-primary:#4CB847;
         --color-secondary:#62CD5D;
         --color-destructive:#E5484D;
    }
}
